<!DOCTYPE html>
<html lang="{{ app.session.locale }}">
    <head>
        <title>{% block title %}Books and authors{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('bundles/tutobook/css/styles.css') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset('bundles/tutobook/css/bootstrap.css') }}" type="text/css" media="all" />
    </head>
    <body>
        <header>
            <div class="navbar">
                <div class="navbar-inner"> 
                    <nav class="container">
                            {{ knp_menu_render('BookBundle:Builder:mainMenu') }}
                            <ul class="nav pull-right">
                                <li class="divider-vertical"></li>
                                <li>
                                    <a href="{{ path('chooseLanguage', {'language' : 'en'}) }}" title="{{ "language" | trans }}">
                                        <img src="{{ asset('bundles/tutobook/images/en.png') }}" alt="en" />
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('chooseLanguage', {'language' : 'fr'}) }}" title="{{ "language" | trans }}">
                                        <img src="{{ asset('bundles/tutobook/images/fr.png') }}" alt="fr" />
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <div id="wrapper">
            <h1>{{ block('title') }}</h1>
            
            {% block content %}
            {% endblock %}
        </div>
        <footer>
            &copy; edrichardfr
        </footer>
    </body>
</html>