{% extends 'BookBundle::layout.html.twig' %}

{% block title %}{{'book.list' | trans }}{% endblock %}

{% block content %}

<table class="records_list" border="1" width="100%">
    <thead>
        <tr>
            <th>{{ 'book.name' | trans }}</th>
            <th>{{ 'book.price' | trans }}</th>
            <th colspan="2">{{ 'actions' | trans }}</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr class="{{ cycle(['even','odd'],loop.index) }}">
            <td><a href="{{ path('book_show', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
            <td>
                {% if app.session.locale == 'fr'  %}
                    {{ entity.price }} €
                {% else %}
                   $ {{ entity.price * 0.7612088 | number_format(2) }}
                {% endif %}
            </td>
            <td><a href="{{ path('book_show', { 'id': entity.id }) }}">{{ 'actions.action.show' | trans }}</a></td>
            <td><a href="{{ path('book_edit', { 'id': entity.id }) }}">{{ 'actions.action.edit' | trans }}</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<a href="{{ path('book_new') }}">
    {{ 'actions.action.new' | trans }}
</a>

{% endblock %}