<table class="records_list" border="1" width="100%">
    <thead>
        <tr>
            <th>{{ 'book.name' | trans }}</th>
            <th>{{ 'book.price' | trans }}</th>
        </tr>
    </thead>
    <tbody>
    {% for book in books %}
        <tr class="{{ cycle(['even','odd'],loop.index) }}">
            <td><a href="{{ path('book_show', { 'id': book.id }) }}">{{ book.name }}</a></td>
            <td>
                {{ book.price }} €
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="2">{{ 'actions.action.noresult' | trans }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>