{% extends 'BookBundle::layout.html.twig' %}

{% block title %}{{ "book.create" | trans }}{% endblock %}

{% block content %}

<form action="{{ path('book_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">{{ "book.save" | trans }}</button>
        <button type="reset">Reset</button>
    </p>
</form>

{% endblock %}