{% extends 'BookBundle::layout.html.twig' %}

{% block title %}{{ "author.list" | trans }}{% endblock %}

{% block content %}

<table class="records_list" border="1" width="100%">
    <thead>
        <tr>
            <th>{{ "author.name" | trans }}</th>
            <th>{{ "author.email" | trans }}</th>
            <th>{{ "author.website" | trans }}</th>
            <th colspan="2">Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for author in authors %}
        <tr class="{{ cycle(['even','odd'],loop.index) }}">
            <td><a href="{{ path('author_show', { 'id': author.id }) }}">{{ author.name }}</a></td>
            <td>{{ author.email }}</td>
            <td>{{ author.website }}</td>
            <td><a href="{{ path('author_show', { 'id': author.id }) }}">show</a></td>
            <td><a href="{{ path('author_edit', { 'id': author.id }) }}">edit</a></td>
        </tr>
    {% else %}
        <tr>
            <td colspan="5">{{ 'actions.action.noresult' | trans }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<a href="{{ path('author_new') }}">
    <img src="{{ asset('bundles/tutobook/images/arrowLeft.png') }}" alt="arrow" />{{ 'actions.action.new.author' | trans }}
</a>

{% endblock %}