<table class="records_list" border="1" width="100%">
    <thead>
        <tr>
            <th>{{ "author.name" | trans }}</th>
            <th>{{ "author.email" | trans }}</th>
            <th>{{ "author.website" | trans }}</th>
        </tr>
    </thead>
    <tbody>
    {% for author in authors %}
        <tr class="{{ cycle(['even','odd'],loop.index) }}">
            <td><a href="{{ path('author_show', { 'id': author.id }) }}">{{ author.name }}</a></td>
            <td>{{ author.email }}</td>
            <td>{{ author.website }}</td>
        </tr>
    {% else %}
        <tr>
            <td colspan="3">{{ 'actions.action.noresult' | trans }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>